.records {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.receipt {
  border: 2px solid #f8d3c5;
  padding: 2rem 1rem;

  &__title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  &__item {
    font-weight: 600;
  }
  &__key {
    color: #533295;
  }
  &__value {
  }
}
